loguru~=0.5.3
pandas~=1.2.4
datasets~=2.3.2
transformers~=4.10.3
tokenizers~=0.10.3
python-dotenv~=0.15.0
typeguard~=2.11.1
scipy~=1.7.1
scikit-learn~=1.0
natsort~=7.1.1
textsearch~=0.0.21
jsonpickle~=2.0.0
arrow~=1.2.0